<div class="card">
  <div class="card-body">
    <h4 class="card-title">Ajouter un Cours</h4>
    <h5 class="card-subtitle text-muted">Remplissez les détails du cours</h5>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="Nom" class="form-label">Nom</label>
        <input
          id="Nom"
          formControlName="Nom"
          class="form-control"
          placeholder="Nom du cours"
        />
      </div>
      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea
          id="Description"
          formControlName="Description"
          class="form-control"
          rows="3"
          placeholder="Description du cours"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="Duree" class="form-label">Durée</label>
        <input
          id="Duree"
          formControlName="Duree"
          class="form-control"
          placeholder="Durée du cours"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="courseForm.invalid"
      >
        Ajouter le Cours
      </button>
      <button (click)="goToComopnent()">Back</button>
    </form>
    <p *ngIf="message" class="mt-3 text-success">{{ message }}</p>
  </div>
</div>
