<div class="card">
  <div class="card-body">
    <h4 class="card-title">Liste des cours</h4>
    <h5 class="card-subtitle text-muted">Aperçu des cours disponibles</h5>
    <div class="table-responsive">
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Nom  </th>
            <th class="text-dark font-medium fs-4">Description</th>
      
            <th class="text-dark font-medium fs-4">Durée</th>
            <th class="text-dark font-medium fs-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td class="fs-4">{{ course.nom }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.duree }}</td>
            <td>
              <button  class="btn btn-info btn-sm me-2"  (click)="goToComponent(course.idCours)">Détail</button>
              <button class="btn btn-warning btn-sm me-2" (click)="goToUpdateCourse(course.idCours)">Modifier</button>
              <button class="btn btn-danger btn-sm" (click)="deleteCourse(course)" >Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<button class="btn btn-primary mt-3" (click)="goToAddCourse()">Ajouter un cours</button>
